package home

import "github.com/andersonribeir0/mouchat/internal/web/views/layout"

templ Index() {
    @layout.App(true) {
    	<div class="text-5xl text-primary">hello from the home page</div>
    }
}
